

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif !important;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper1 {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 250px;
    background: #7386D5;
    background: #0F2557;
    /* background: #e8dff5; */
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    z-index: 1000;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    background: #0F2557;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color:  #0F2557;
    /* color: #7386D5; */
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /* color: #fff; */
    /* background: #6d7fcc; */
    background: #0F2557 !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    background: #0F2557;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.download {
    background: #fff;
    color: #7386D5 !important;
    cursor: pointer;
}
.delete-post{
    background: #fff;
    color: #7386D5 !important;
    cursor: pointer;
    border: none;
}

a.article
 {
    /* background: #6d7fcc !important; */
    background: #fff;
    color: #0F2557 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 80%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 270px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #content{
        width: 100%;
        margin-left: 0;
    }
}


/* STUDENT PROFILE PAGE CSS */

.profile-row1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user-card{
    height: 60vh;
    width: 60%;
    background-color:#9fade8;
    background-color: #b3dee2;
    background-color:  #daeaf6;
    background-color: #e8dff5;
    border-radius: 10px;
}

.r1{
    justify-content: center;
}
.card-data{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.data {
    color: black;
    font-size: 20px;
}
.text-bold{
    /* margin-right: 20px; */
    font-weight: 500;
}

.wrap-data{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-wrap{
    display: flex;
    gap: 20px;
}

.d-block{
    display: block !important;
}
.d-none{
    display: none !important;
}



/* new css march 6 */

.heading-drive{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
    padding: 3%;
    font-size: 24px;
}
.heading-drive button{
    font-size: 17px !important;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color:#7386D5;
    color: #fff;
    padding: 1%;
    cursor: pointer;
}



  /* CCS  MARCH 10  */

  @media (min-width: 576px)
  {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
  }
  .modal-content{
    background-color: transparent !important;
    border: none !important;
  }

  /* CSS FOR DRIVE PAGE CARDS */

 

.card {
    border: none;
    border-radius: 10px;
    background-color: #E1F2F7;
    /* background-color: #FFFFFF; */
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    /* background-color: #fffbec; */
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    /* color: #fed85d; */
    /* color: #EE7879;
    color: #CAE7DF; */
    justify-content: center;
    align-items: center
}
.badge1{
  background-color:  #CAE7DF;
  color: #2f7d67;
}
.badge2{
  background-color: #ffeeb4;
  color: #ffd13a; 
}
.badge3{
  background-color: #EE7879;
  color: #78191b; 
}




.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}


  
  /* DASHBOARD CSS STARTS */
  @import url("https://fonts.googleapis.com/css?family=Satisfy|Zilla+Slab");
  /* body {
    background: #643a7a;
  } */
  
  .frame {
    position: relative;
    
    
  }
  
  .card-db {
    position: relative;
    top: 90px;
    left: 60px;
    height: 220px;
    width: 280px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
    overflow: hidden;
  }
  .card-db .header {
    position: relative;
    height: 60px;
    width: 100%;
    background: #643a7a;
    color: #fff;
  }
  .card-db .header .big {
    position: absolute;
    font-family: Satisfy, fantasy !important;
    font-size: 1.5rem;
  }
  .card-db .header .small {
    position: absolute;
    font-size: 1rem;
  }
  .card-db .header .title {
    top: 12px;
    left: 15px;
  }
  .card-db .header .date {
    top: 2.5rem;
    left: 15px;
  }
  .card-db .header .type {
    top: 14px;
    right: 15px;
  }
  .card-db .header .value {
    position: absolute;
    font-size: 1.5rem;
    top: 2rem;
    right: 15px;
  }
  .card-db .parameter {
    text-align: right;
    padding: 10px 0 14px 0;
  }
  .card-db .parameter span {
    position: relative;
    font-size: 0.85rem;
    color: #606060;
    line-height: 13px;
    padding: 0 10px 0 25px;
  }
  .card-db .parameter span:before {
    position: absolute;
    left: 6px;
    top: 6px;
    display: block;
    content: "";
    width: 11px;
    height: 4px;
    border-radius: 3px;
  }
  .card-db .parameter .red:before {
    background: #643a7a;
  }
  .card-db .parameter .blue:before {
    background: #547496;
  }
  .card-db .statistic {
    position: relative;
    height: 81px;
    width: 260px;
    margin: 0 auto;
  }
  .card-db .statistic .line-1, .card-db .statistic .line-3, .card-db .statistic .line-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(255, 192, 203, 0.3);
  }
  .card-db .statistic .line-2 {
    top: 40px;
  }
  .card-db .statistic .line-3 {
    top: inherit;
    bottom: 0;
  }
  .card-db .statistic .data svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: 4s dash 0.5s linear forwards;
            animation: 4s dash 0.5s linear forwards;
  }
  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  .card-db .statistic .data polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
  }
  .card-db .statistic .data.red polyline {
    stroke: #643a7a;
  }
  .card-db .statistic .data.blue polyline {
    stroke: #547496;
  }
  .card-db .statistic .data .tooltip {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translate3d(-50%, 10px, 0);
    font-weight: 600;
    font-size: 11px;
    line-height: 11px;
    color: #fff;
    padding: 8px 6px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
  }
  .card-db .statistic .data .tooltip:after {
    position: absolute;
    display: block;
    content: "";
    height: 6px;
    width: 6px;
    left: 50%;
    margin-left: -3px;
    bottom: -3px;
    transform: rotate(45deg);
  }
  .card-db .statistic .data [class^=point-] {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 10;
  }
  .card-db .statistic .data [class^=point-]:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
  .card-db .statistic .data.red [class^=point-], .card-db .statistic .data.red .tooltip, .card-db .statistic .data.red .tooltip:after {
    background: #643a7a;
  }
  .card-db .statistic .data.red .point-1 {
    left: 7px;
    top: 43px;
  }
  .card-db .statistic .data.red .point-2 {
    left: 48px;
    top: 9px;
  }
  .card-db .statistic .data.red .point-3 {
    left: 88px;
    top: 20px;
  }
  .card-db .statistic .data.red .point-4 {
    left: 128px;
    top: 8px;
  }
  .card-db .statistic .data.red .point-5 {
    left: 169px;
    top: 35px;
  }
  .card-db .statistic .data.red .point-6 {
    left: 209px;
    top: 45px;
  }
  .card-db .statistic .data.red .point-7 {
    left: 249px;
    top: 16px;
  }
  .card-db .statistic .data.blue [class^=point-], .card-db .statistic .data.blue .tooltip, .card-db .statistic .data.blue .tooltip:after {
    background: #547496;
  }
  .card-db .statistic .data.blue .point-1 {
    left: 7px;
    top: 58px;
  }
  .card-db .statistic .data.blue .point-2 {
    left: 48px;
    top: 47px;
  }
  .card-db .statistic .data.blue .point-3 {
    left: 88px;
    top: 62px;
  }
  .card-db .statistic .data.blue .point-4 {
    left: 128px;
    top: 52px;
  }
  .card-db .statistic .data.blue .point-5 {
    left: 169px;
    top: 58px;
  }
  .card-db .statistic .data.blue .point-6 {
    left: 209px;
    top: 71px;
  }
  .card-db .statistic .data.blue .point-7 {
    left: 249px;
    top: 61px;
  }
  .card-db .days {
    width: 280px;
    margin: 0 auto;
  }
  .card-db .days .day {
    display: block;
    float: left;
    width: 14.2857142857%;
    font-size: 9px;
    color: #949494;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  /* FOR 2ND GRAPH */
  .main-container {
    background: #444e80;
    color: #abafc6;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    /* height: 350px; */
  }
  
  .year-stats {
    white-space: nowrap;
    max-height: 170px;
    overflow: hidden;
  }
  
  .year-stats:hover {
    overflow-x: auto;
  }
  
  /* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
  /* Width */
  ::-webkit-scrollbar {
    height: 5px;
    width: 100%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #444e80;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #abafc6;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5397d6;
  }
  
  .month-group {
    cursor: pointer;
    max-width: 400px;
    height: 110px;
    margin: 10px;
    display: inline-block;
  }
  
  .bar {
    background-color: #abafc6;
    width: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .month-group:hover .bar,
  .selected .bar {
    background: #5397d6;
  }
  
  .month-group:hover p,
  .selected p {
    color: #fff;
  }
  
  .h-25 {
    height: 25%;
  }
  .h-50 {
    height: 50%;
  }
  .h-75 {
    height: 75%;
  }
  .h-100 {
    height: 100%;
  }
  
  .stats-info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  .graph-container {
    position: relative;
  }
  
  .percent {
    display: block;
    width: 120px;
    height: 120px;
  }
  
  .circle {
    stroke: #915db1;
    fill: none;
    stroke-width: 3;
  }
  
  .circle:nth-child(2) {
    stroke: #e59f3c;
  }
  
  .circle:nth-child(3) {
    stroke: #5397d6;
  }
  
  .circle:nth-child(4) {
    stroke: #4cc790;
  }
  
  .graph-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
    text-align: center;
  }
  
  .info p {
    margin-bottom: 10px;
  }
  
  .info span {
    color: #fff;
  }
  .db-area
  {
    display: flex ;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  
  /* DASHBOARD CSS ENDS */