
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Vidaloka&display=swap');

  *{
    font-family: 'Cardo', serif;
  }

.landing-wrap{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.mynav{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
}
.button-grp{
display: flex;
gap: 12px;
}

.main-content h1{
    font-family: 'Vidaloka', serif;
}

.main-content p{
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 100;
}
.mybtns{
    background: black;
    color: white;
    outline: transparent;
}
.mybtns:hover{
    color: black;
    background: white;
    outline: none;
    border: black solid 1px;
}

