 {% comment %} <!doctype html>
{% load static %}
<html lang="en">

<head>
   
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

  
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>Multiple user login</title>
</head>

<body>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                <div class="mb-4">
                  <h1>User Registration page</h1>
                </div>
                <span class="mb-0 text-muted">
                  {% if msg %}
                  {{ msg | safe }}
                  {% else %}
                  Login page
                  {% endif %}
                </span>
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group first">
                    <label for="username">Username</label>
                    {{ form.username }}
                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                    {{ form.email}}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    {{ form.password1 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">confirm Password</label>
                    {{ form.password2 }}
                  </div>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Admin</span>
                      {{ form.is_admin }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Student</span>
                      {{ form.is_student }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  {% comment %} <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">employee</span>
                      {{ form.is_employee }}
                      <div class="control__indicator"></div>
                    </label>
                  </div> {% endcomment %}
                  {% comment %} <span class="text-error">{{ form.errors }}</span>
                  <input type="submit" value="Register" class="btn btn-pill text-white btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
{% comment %} </body>

</html>  {% endcomment %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/css/login.css">
    <title>Placement Assist</title>
</head>
<body>
    <div class="loginpage-wrap">
        <div class="login-page">
            <div class="container-fluid fc">
                <div class="row login-row">
                    <div class="col-xs-12 col-sm-12 col-lg-7 main-column1">
                        <div class="main-column1-wrapper mt-5">
                            <h3 class="login-title " style="margin-bottom: -55px;">
                                Register for our Platform
                            </h3>
                            <div class="login-form-wrapper ">
                                <form class="login-form" method="post">
                                  {% csrf_token %}
                                    <div class="form-group">
                                        <label for class="form-label">Username</label>
                                        {% comment %} <input name="username" type="text" placeholder="Enter Username" class="form-control"/> {% endcomment %}
                                        {{ form.username }}
                                    </div>
                                    <div class="form-group mt-4">
                                        <label for class="form-label">Enter your Email</label>
                                        {% comment %} <input name="email" type="email" placeholder="Enter your Email" class="form-control"/> {% endcomment %}
                                        {{ form.email }}
                                    </div>
                                    <div class="form-group mt-4">
                                        <label for class="form-label">Password</label>
                                        {% comment %} <input name="password" type="password" placeholder="Enter your Password" class="form-control"/> {% endcomment %}
                                        {{ form.password1 }}
                                    </div>
                                    <div class="form-group mt-4">
                                        <label for class="form-label">Confirm Password</label>
                                        {% comment %} <input name="password" type="password" placeholder="Re-Enter your Password" class="form-control"/> {% endcomment %}
                                        {{ form.password2 }}
                                    </div>
                                    {% comment %} <div class="r-btns-grp mt-3">
                                        <p>Register as :</p>
                                        <input type="radio" id="student" name="user_type" value="student" checked>
                                        <label for="student">Student </label>
                                        <br>
                                        <input type="radio" id="admin" name="user_type" value="admin">
                                        <label for="admin">Admin</label>
                                        
                                    </div> {% endcomment %}

                                    <div class="d-flex mb-5 align-items-center">
                                      <label class="control control--checkbox mb-0"><span class="caption">Admin</span>
                                        {{ form.is_admin }}
                                        <div class="control__indicator"></div>
                                      </label>
                                    </div>
                                    <div class="d-flex mb-5 align-items-center">
                                      <label class="control control--checkbox mb-0"><span class="caption">Student</span>
                                        {{ form.is_student }}
                                        <div class="control__indicator"></div>
                                      </label>
                                    </div>

                                    
                                    <span class="text-error">{{ form.errors }}</span>
                                    <div class="form-group mt-5">
                                        <div class="d-grid">
                                            <button type="submit" class="btn login-btn">Register</button>
                                        </div>
                                    </div>
                                    
                                </form>
                                <div class="signup-content mt-3 text-center">
                                    <p><a href="#"> Don't have an account ? Advance to Register </a></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-5 main-column2">
                        <div class="main-col2-wrapper">
                            <div class="main-img-wrapper">
                                <img src="../static/fonts/icomoon/images/loginpageimg.svg" class="login-page-image" alt="login-page-image">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>